<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <.live_title default="KameramaniPhx" suffix=" · Kamermani">
      {assigns[:page_title]}
    </.live_title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Bitcount+Grid+Double:wght@100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
    <link phx-track-static rel="stylesheet" href={~p"/assets/app.css"} />
    <script defer phx-track-static type="text/javascript" src={~p"/assets/app.js"}>
    </script>
  </head>

  <body
    class="relative bg-fixed bg-cover text-white bg-opacity-50 backdrop-blur-sm"
    style="background-image: url(/images/bg.jpg);"
  >
    <div class="hidden shrink-0 h-screen w-full absolute top-0 left-0 z-0">
      <img src={~p"/images/bg.jpg"} alt="background" class="h-full w-full object-cover" />
    </div>
    {@inner_content}
  </body>
</html>
