<% active_index = Enum.find_index(@menu_items, fn i -> i.id == @active_tab end) %>
<div class="h-screen grid grid-cols-6 gap-2 bg-blue-200 overflow-hidden relative">
  <div class="bg-white col-start-1 col-span-1 text-black flex flex-col font-medium rounded-r-3xl sticky top-0 left-0">
    <div class="flex items-center justify-center py-6 border-b-2 border-black mb-4 ">
      <span class="font-bold">Admin Tools</span>
    </div>
    <%= for {item, index} <- Enum.with_index(@menu_items) do %>
      <.sidebar_link
        item={item}
        active={index == active_index}
        prev_active={index == active_index + 1}
        next_active={index == active_index - 1}
      />
    <% end %>
  </div>
  <%= case @active_tab do %>
    <% "users" -> %>
      <.user_tab users_page={@users_page} live_streams_page={@live_streams_page} />
    <% "categories" -> %>
      <.category_tab></.category_tab>
    <% "tags" -> %>
      <.tag_tab></.tag_tab>
    <% "access" -> %>
      <.access_tab></.access_tab>
    <% "settings" -> %>
      <.settings_tab></.settings_tab>
      <!-- <% "overview" -> %>
        <.overview></.overview> -->
  <% end %>
</div>
<div
        x-data="{show: false}"
        >

         <div
          x-show="show"
          x-transition:enter="transition-opacity ease-out duration-300"
          x-transition:enter-start="opacity-0"
          x-transition:enter-end="opacity-100"
          class="fixed inset-0 bg-slate-900/60 backdrop-blur-sm"
        >
        </div>
        <div
        @open-add-user-modal.window="show = true"
        x-transition:enter="transition ease-out duration-300"
        x-transition:enter-start="opacity-0 scale-90"
        x-transition:enter-end="opacity-100 scale-100"
        x-transition:leave="transition ease-in duration-200"
        x-transition:leave-start="opacity-100 scale-100"
        x-transition:leave-end="opacity-0 scale-90"
        class="fixed inset-0 glass-pane"
        >
        <p>I am a liquid box!</p>
        <button @click="show = false">Close</button>
      </div>
    </div>
